/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*::-webkit-scrollbar {
  width: 3px;
  /* height: 20px; */
}

*::-webkit-scrollbar-track {
  background: #010000c2;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 19px;
  /* border: -25px solid #000000; */
}